<!--<h1>Main#contact</h1>-->

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="description" content="JNoM Project Portfolio." />
<meta name="keywords" content="contact, jnom" />

<%= stylesheet_link_tag "jnomstyles" %>
<%= favicon_link_tag "favicon.ico" %>

</head>

<body>

      <div class="container">

          <div class="container">  

                
                <div class="span-52 last" align="right" id="navigation"> <br> 
                  <%= image_tag("logo01-a.png", :title=> "jnom logo", :height=>"60px") %>
                  <%= link_to image_tag("nav01-a.png", :title=> "home", :height=>"60px", :mouseover=>"nav01-d.png"), main_home_path %>
                  <%= link_to image_tag("nav02-a.png", :title=> "about", :height=>"60px", :mouseover=>"nav02-d.png"), main_about_path %>
                  <%= link_to image_tag("nav03-a.png", :title=> "portfolio", :height=>"60px", :mouseover=>"nav03-d.png"), main_portfolio_path %>
                  <%= link_to image_tag("nav04-a.png", :title=> "contact", :height=>"60px",:mouseover=>"nav04-d.png"), main_contact_path %>
                </div>  
                
          </div>  
        

        <div id="header" class="span-24 last">

          <h1 id="title"><%= image_tag "banner03-c.png", alt:"banner-img", id:"banner-img"  %></h1>
                 <embed src="http://www.sheepproductions.com/billy/billy.swf?autoplay=true&loop=true&f0=http://k004.kiwi6.com/hotlink/6l9xqyx7en/kingdom_hearts_re_coded_ost_dearly_beloved.mp3&t0=Dearly%20Beloved%20(KH%20reCODED)&total=1" quality="high" wmode="transparent" width="200" height="10" name="jNom-bgm" align="right" type="application/x-shockwave-flash" />            
        </div>

        <hr />

        <div id="subheader" class="span-24 last">
          <h3 class="alt">Contact</h3>
        </div>

        <hr />


    <div class="span-17 colborder" id="content">
          <h3 class="loud">Inquiries, comments, suggestions?</h3>
          <p align="justify">        
              If you've got something to say about the website, this is the place to do it: quick and simple. I'd love to hear from you.
              Please know that your feedback regarding the website placed here will also be very much appreciated. So what'll it be? I've decided to
              include a little forum in here for you guys, maybe for a few nice conversations with other visitors of the site and myself? Or you
              could just drop a line in the guestbook? That would be good, too. But there's also a spiffy little contacting form you can use to send me your sentiments directly. I'll do my best to get back to you guys, so long as you leave the necessary details for me to reply to of course.
          </p>
         
          <hr />
          <div class="span-8 colborder">
            <h4 class="prepend-5">emf: Contact Form</h4> 
            
            <blockquote>  Unfortunately, due to certain technical difficulties, this form as of yet does not work.
							               Please feel free to use either the guestbook or the forums instead.
              </blockquote>

              <blockquote>
                
                <script type="text/javascript">
                    function emf_open_window(url, height, width) {
                    	var leftPos = 0;
                    	var topPos = 0;
                    	if (screen) {
                    		leftPos = (screen.width - width) / 2;
                    		topPos = (screen.height - height) / 2;
                    		window.open(url, null, 'width='+width+',height='+height+',left='+leftPos+',top='+topPos+', toolbar=0, location=0, status=1, scrollbars=1, resizable=1');
                    	}
                    }
                </script>
                
                   Alternatively, you could use this temporary <a href='http://www.emailmeform.com/builder/form/81Aq8Q6Hfc' title='Contact Form' target='_blank' onclick="emf_open_window(this.href, 750, 500); return false">EMF Feature</a> to send your inquiries directly.
                                          
              </blockquote>
            
            <p>
                <table>
                  <form action="#" method="post" id="cu_contact_form">
									<div id="et_contact_left">
										<p class="clearfix">
											<input type="text" size="30" max="25" name="cu_contact_name" value="Name" id="cu_contact_name" class="input" disabled />
										</p>
										
										<p class="clearfix">
											<input type="text" size="30" max="35" name="cu_contact_email" value="Email Address" id="cu_contact_email" class="input" disabled />
										</p>
										
										<p class="clearfix">
											<input type="text" size="30" max="50" name="cu_contact_subject" value="Subject" id="cu_contact_subject" class="input" disabled />
										</p>
										
										<p>
										  <textarea rows="5" cols="45" wrap="hard" value="Message" id="cu_contact_message" disabled >Message</textarea>
										</p>
						
										<p>
										  <input type="submit" name="cu_contact_submit" value="Submit" id="cu_contact_submit class="input disabled />										  
										</p>
																				
									</form>
								</table>    
            
							</p>
							          
          </div>

        <div class="span-8 last">
            <h4 class="prepend-5">cBox: Guest Book</h4>
            <p>
                <blockquote>  It's not much right now, but you can leave little notes and comments on this box here.
                              Let us know what you think of the site's design, content, or interface. Or, you know, just say hi! 
              </blockquote>
            </p>
          
          <div id="cboxdiv" style="text-align: center; line-height: 0">
            <div><iframe frameborder="0" width="200" height="305" src="http://www5.cbox.ws/box/?boxid=701677&amp;boxtag=zhlqm3&amp;sec=main" marginheight="2" marginwidth="2" scrolling="auto" allowtransparency="yes" name="cboxmain5-701677" style="border: 0px solid;" id="cboxmain5-701677"></iframe></div>
            <div><iframe frameborder="0" width="200" height="75" src="http://www5.cbox.ws/box/?boxid=701677&amp;boxtag=zhlqm3&amp;sec=form" marginheight="2" marginwidth="2" scrolling="no" allowtransparency="yes" name="cboxform5-701677" style="border: 0px solid;border-top:0px" id="cboxform5-701677"></iframe></div>
          </div>
            
          </div>
          

        <hr />
          <div class="span-17 colborder" id="content">
            <h4 class="prepend-15">Forum</h4>
            
            <p>
                <blockquote>  And this is the place for discussions! Feel free to mingle with other guests here when
                              available, but please try to keep your topics related to this site and the indicated
                              topics as much as possible. The rules are simple: be <b>literate</b>, be <b>respectful</b>, and <b>have fun</b>!
              </blockquote>
            </p>
          
          <div style="font-size:80%;  text-align:center;" id="k5a7jn3777t4lk1prm0"></div>
            
            <p><BR>
              <script type="text/javascript" src="http://k5a7jn3777.embed.tal.ki/embed/1.js"></script>
            </p>
                  
          </div>
        </div>

        <div class="span-6 last" id="sidebar">

          <div id="social-accounts">
            <h3 class="caps">Social Accounts</h3>
            <div class="box">
              <%= link_to "Facebook (Juno Mango)", "https://www.facebook.com/profile.php?id=100000059553711" %>
             <blockquote>Private account. <br><br>Please note that I do not accept random friend requests,
              but if you need to ask anything concerning the site, just send me a message.
              </blockquote>

              <%= link_to "Twitter (niMAGju)", "https://twitter.com/#!/niMAGju" %>
             <blockquote>Private account. <br><br>Again, just give me a head's up if you need anything.
               I'll only be putting this link up here for placeholding purposes. Eventually, the JNoM
               Project will have its own, dedicated twitter account for news and updates.
             </blockquote>

            <%= link_to "YouTube (Anagramyc)", "http://www.youtube.com/user/Anagramyc?feature=mhee" %>
             <blockquote>Public Channel. <br><br>Not many videos have been uploaded to this account,
               to be honest. But I do have a hefty list of favorites and videomarks that might interest you.
               If you're into the same stuff as me, of course. But feel free to check it out on your liesure anyway.
             </blockquote>

            <%= link_to "deviantArt (jeiuuenno)", "https://jeiuuenno.deviantart.com" %>
             <blockquote>Online Art Gallery. <br><br>You might recognize some of my works from the
               portfolio section of teh site from here. It showcases a collection of my literary pieces,
               plus a couple of cosplay photographs from the past.
             </blockquote>

            <%= link_to "Cure Cosplay (命音)", "http://en.curecos.com/profile/?ch=209371" %>
             <blockquote>Online Art Gallery. <br><br>This is where I store my cosplay photos, although it's
               somewhat exclusive to the cosplay community. I'm only putting the link up here for place-holding
               purposes. So if you're not into this stuff anyway, skip this one.
             </blockquote>
            
             <%= link_to "Gaia Online (Ujon Nocturne)", "http://www.gaiaonline.com/profiles/ujon-nocturne/16603434/" %>
             <blockquote>Role Playing Profile. <br><br>If you're unfamiliar with the literary concept of RP-ing,
               you can also skip this one. Otherwise, this will link you to my profile on Gaia. If you're up for
               a little story-telling collaboration with me, just hit me up over there and throw your ideas at me.
               I'm always glad to write something up with people equally enthusiastic about the whole gig.
             </blockquote>
                                          
            </div>

          </div>

        </div>
        
           <hr />


    <div class="span-54" id="content">
          <h3 class="loud">Oh, did you need anything else?</h3>
          <p align="justify">        
              Wow, hey. You made it all the way down to the bottom of the page! Did I miss anything?
             <BR> Well, then. If by chance you felt I left anything important out, just let me know and I'll do what I can.
              
          </p>
          
          <p align="justify">
              Thanks again for visiting my site!
          </p>
         
          <hr />
    </div>

          <div class="span-24 small" align="center">
              <p><h4 class="quiet">Juno Magno © 2012</h4>
                
                <h4 class="mid">The JNoM Project, all work and characters contained therein, is the intellectual property of Juno Magno unless specified otherwise. All rights reserved. <BR>No portion of this online work may be published, transmitted, or distributed in any medium without the express written permission of the author.</h4></p>
                
              <p align="center">
                <%= link_to "Home", main_home_path %> | <%= link_to "About", main_about_path %> |
                <%= link_to "Portfolio", main_portfolio_path %> |  <%= link_to "Contact", main_contact_path %> |
                
                <%= link_to "FAQs", about_faqs_path %> |  <%= link_to "Legal Terms", about_legal_path %> </p>
          </div>
        
</body>
</html>

<!--<p>Find me in app/views/main/contact.html.erb</p>-->
