<!--<h1>About#legal</h1>-->

<!DOCTYPE html>
<html>
<head>

<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<meta name="description" content="JNoM Project About Page." />
<meta name="keywords" content="about, jnom" />

<%= stylesheet_link_tag "jnomstyles" %>
<%= favicon_link_tag "favicon.ico" %>

</head>

<body>

      <div class="container">

          <div class="container">  

                
                <div class="span-52 last" align="right" id="navigation"> <br> 
                  <%= image_tag("logo01-a.png", :title=> "jnom logo", :height=>"60px") %>
                  <%= link_to image_tag("nav01-a.png", :title=> "home", :height=>"60px", :mouseover=>"nav01-d.png"), main_home_path %>
                  <%= link_to image_tag("nav02-a.png", :title=> "about", :height=>"60px", :mouseover=>"nav02-d.png"), main_about_path %>
                  <%= link_to image_tag("nav03-a.png", :title=> "portfolio", :height=>"60px", :mouseover=>"nav03-d.png"), main_portfolio_path %>
                  <%= link_to image_tag("nav04-a.png", :title=> "contact", :height=>"60px",:mouseover=>"nav04-d.png"), main_contact_path %>
                </div>  
                
          </div>  
        

        <div id="header" class="span-24 last">

          <h1 id="title"><%= image_tag "banner03-c.png", alt:"banner-img", id:"banner-img"  %></h1>
               <embed src="http://www.sheepproductions.com/billy/billy.swf?autoplay=true&loop=true&f0=http://k004.kiwi6.com/hotlink/6l9xqyx7en/kingdom_hearts_re_coded_ost_dearly_beloved.mp3&t0=Dearly%20Beloved%20(KH%20reCODED)&total=1" quality="high" wmode="transparent" width="200" height="10" name="jNom-bgm" align="right" type="application/x-shockwave-flash" />
        </div>

        <hr />

        <div id="subheader" class="span-24 last">
          <h3 class="alt">Legal Terms</h3>
        </div>

        <hr />

      
      <div class="span-5 colborder" id="sidebar">
            <div class="box">
            
            <h4 class="quiet">ARCHIVES</h4>
              <div class="mid"><%= link_to image_tag("abou01-a.png", :title=> "the jnm profile", :height=>"60px", :mouseover=>"abou01-d.png"), about_profile_path %></div>
              <div class="mid"><%= link_to image_tag("abou02-a.png", :title=> "copyright and disclaimers", :height=>"60px", :mouseover=>"abou02-d.png"), about_legal_path %></div>
              <div class="mid"><%= link_to image_tag("abou03-a.png", :title=> "frequently asked questions", :height=>"60px", :mouseover=>"abou03-d.png"), about_faqs_path %></div>

            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>                  
                
            </div>
        </div>
        
        <div class="span-15" id="content">
          
          <p align="justify">
            Contained on this page are the law-bound formalities that govern this site. Any and all visitors who use this site are automatically in agreement with these documents so long as they choose to use this website, the JNoM project. Any violators of the terms herein will be subject to the full extent of the law.
          </p>
          
          <h3 class="loud">Copyright Notice</h3>
          <p align="justify">
              <textarea cols="100" rows="7" DISABLED>
              Copyright © 2012 by Juno Magno

(1) 	Ownership of copyright

The copyright in this website and the material on this website (including without limitation the text, computer code, artwork, photographs, images, music, audio material, video material and audio-visual material on this website) is owned by Juno Magno and licensors concerned.

(2) 	Credit

This document was created using a template from SEQ Legal.

(3) 	Copyright licence

You are granted a worldwide non-exclusive royalty-free revocable licence to:

(a)	view this website and the material on this website on a computer or mobile device via a web browser; and

(b)	copy and store this website and the material on this website in your web browser cache memory

You are not granted any other rights in relation to this website or the material on this website. In other words, all other rights are reserved.

For the avoidance of doubt, you must not adapt, edit, change, transform, publish, republish, distribute, redistribute, broadcast, rebroadcast or show or play in public this website or the material on this website (in any form or media) without the webowner’s prior written permission.   

(4) 	Data mining

The automated and/or systematic collection of data from this website is prohibited.

(5) 	Permissions

You may request permission to use the copyright materials on this website by through use of the contact form in order to contact the web owner directly.

(6) 	Enforcement of copyright

I take the protection of my copyright very seriously.

If I discover that you have used my copyright materials in contravention of the licence above, I may bring legal proceedings against you seeking monetary damages and an injunction to stop you using those materials.  You could also be ordered to pay legal costs.

If you become aware of any use of my copyright materials that contravenes or may contravene the licence above, please report this by using the inquiry form in the contact page immediately.

(7) 	Infringing material

If you become aware of any material on this website that you believe infringes your or any other person's copyright, please report this by using the inquiry form in the contact page immediately.

                
              </textarea>
          </p>
        
          <h3 class="loud">Terms and Conditions</h3>
          <p align="justify">
              <textarea cols="100" rows="7" DISABLED>
              Terms and Conditions

(1)	Introduction

These terms and conditions govern your use of this website; by using this website, you accept these terms and conditions in full.  If you disagree with these terms and conditions or any part of these terms and conditions, you must not use this website. 

You must be at least 13 years of age to use this website.  By using this website, you warrant and represent that you are at least 13 years of age.

This website uses cookies.  By using this website and agreeing to these terms and conditions, you consent to my use of cookies in accordance with the terms of my privacy policy / cookies policy.

(2)	Credit

This document was created using a template from SEQ Legal.

(3)	Licence to use website

Unless otherwise stated, mine or my licensors own the intellectual property rights in the website and material on the website.  Subject to the licence below, all these intellectual property rights are reserved.

You may view this website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.  

You must not:

(a)	republish material from this website (including republication on another website);

(b)	sell, rent or sub-license material from the website;

(c)	show any material from the website in public;

(d)	reproduce, duplicate, copy or otherwise exploit material on this website for a commercial purpose;

(e)	edit or otherwise modify any material on the website; or

(f)	redistribute material from this website.


(4)	Acceptable use

You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website; or in any way which is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity.

You must not use this website to copy, store, host, transmit, send, use, publish or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit or other malicious computer software.

You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction and data harvesting) on or in relation to this website without the webowner’s express written consent.

You must not use this website for any purposes related to marketing without the webowner’s express written consent.

(5)	Restricted access

Access to certain areas of our website is restricted. I reserve the right to restrict access to certain areas of this website, or indeed this whole website, at my own discretion.


(6)	Limited warranties

I do not warrant the completeness or accuracy of the information published on this website; nor do I commit to ensuring that the website remains available or that the material on the website is kept up-to-date.

To the maximum extent permitted by applicable law I exclude all representations, warranties and conditions relating to this website and the use of this website (including, without limitation, any warranties implied by law of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).

(8)	Limitations and exclusions of liability

Nothing in these terms and conditions will: (a) limit or exclude my or your liability for death or personal injury resulting from negligence; (b) limit or exclude my or your liability for fraud or fraudulent misrepresentation; (c) limit any of my or your liabilities in any way that is not permitted under applicable law; or (d) exclude any of my or your liabilities that may not be excluded under applicable law. 

The limitations and exclusions of liability set out in this Section and elsewhere in these terms and conditions: (a) are subject to the preceding paragraph; and (b) govern all liabilities arising under the terms and conditions or in relation to the subject matter of the terms and conditions, including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.

I will not be liable to you in respect of any loss or corruption of any data, database or software.

I will not be liable to you in respect of any special, indirect or consequential loss or damage.

(9)	Indemnity

You hereby indemnify myself, the webowner, and undertake to keep me indemnified against any losses, damages, costs, liabilities and expenses (including without limitation legal expenses and any amounts paid by us to a third party in settlement of a claim or dispute on the advice of our legal advisers) incurred or suffered by us arising out of any breach by you of any provision of these terms and conditions.

(10)	Breaches of these terms and conditions

Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, I may take such action as I deem appropriate to deal with the breach, including suspending your access to the website, prohibiting you from accessing the website, blocking computers using your IP address from accessing the website, contacting your internet service provider to request that they block your access to the website and/or bringing court proceedings against you.

(11)	Variation

I may revise these terms and conditions from time-to-time.  Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website.  Please check this page regularly to ensure you are familiar with the current version.

(12)	Assignment

I may transfer, sub-contract or otherwise deal with my rights and/or obligations under these terms and conditions without notifying you or obtaining your consent.

You may not transfer, sub-contract or otherwise deal with your rights and/or obligations under these terms and conditions.  

(13)	Severability

If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect.  If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect. 

(14)	Exclusion of third party rights

These terms and conditions are for the benefit of you and myself, and are not intended to benefit any third party or be enforceable by any third party.  The exercise of mine and your rights in relation to these terms and conditions is not subject to the consent of any third party.

(15)	Entire agreement

These terms and conditions, together with my privacy policy, constitute the entire agreement between you and me in relation to your use of this website, and supersede all previous agreements in respect of your use of this website.

(16)	Law and jurisdiction

These terms and conditions will be governed by and construed in accordance with the law of the Philippine Republic, and any disputes relating to these terms and conditions will be subject to the non-exclusive jurisdiction of the courts of the Republic of the Philippines.


              </textarea>
          </p>
          
          
          <h3 class="loud">Privacy Policy</h3>
          <p align="justify">
              <textarea cols="100" rows="7" DISABLED>
              Privacy Policy

I am committed to safeguarding the privacy of the website visitors of my site; this policy sets out how your personal information will be treated.

This website uses cookies.  By using this website and agreeing to this policy, you consent to my use of cookies in accordance with the terms of this policy.

(1)	Credit

This document was created using a template from SEQ Legal.

(2)	What information do we collect?

I may collect, store and use the following kinds of personal information:

(a)	information about your computer and about your visits to and use of this website (including your IP address, geographical location, browser type and version, operating system, length of visit, and page views);

(b)	information that you provide for the purpose of sending inquiries to the webowner (including name, email, url);

(c)	any other information that you choose to send here; and


(3)	Cookies

A cookie consists of information sent by a web server to a web browser, and stored by the browser. The information is then sent back to the server each time the browser requests a page from the server. This enables the web server to identify and track the web browser. 

Google Analytics has been integrated to analyse the use of this website.  Google Analytics generates statistical and other information about website use by means of cookies, which are stored on users' computers.  The information generated relating to my website is used to create reports about the use of the website. Google will store this information.  Google's privacy policy is available at: http://www.google.com/privacypolicy.html.

Most browsers allow you to reject all cookies, whilst some browsers allow you to reject just third party cookies.  For example, in Internet Explorer you can refuse all cookies by clicking “Tools”, “Internet Options”, “Privacy”, and selecting “Block all cookies” using the sliding selector.  Blocking all cookies will, however, have a negative impact upon the usability of many websites, including this one.

(4)	Using your personal information

Personal information submitted to us via this website will be used for the purposes specified in this privacy policy or in relevant parts of the website.

We may use your personal information to:

 (a)	deal with enquiries and complaints made by or about you relating to the website;

Where you submit personal information for publication on this website, we will publish and otherwise use that information in accordance with the license you grant to us.

We will not without your express consent provide your personal information to any third parties for the purpose of direct marketing.

(5) 	Disclosures

I may disclose information about you to insofar as reasonably necessary for the purposes as set out in this privacy policy.

In addition, I may disclose your personal information: 

(a)	to the extent that we are required to do so by law;

(b)	in connection with any legal proceedings or prospective legal proceedings;

(c)	in order to establish, exercise or defend my legal rights (including providing information to others for the purposes of fraud prevention and reducing credit risk);

(d)	to any person who we reasonably believe may apply to a court or other competent authority for disclosure of that personal information where, in my reasonable opinion, such court or authority would be reasonably likely to order disclosure of that personal information.

Except as provided in this privacy policy, we will not provide your information to third parties.

(6)	Security of your personal information

I will take reasonable technical and organisational precautions to prevent the loss, misuse or alteration of your personal information. 

Of course, data transmission over the internet is inherently insecure, and we cannot guarantee the security of data sent over the internet.

(7)	Policy amendments

We may update this privacy policy from time-to-time by posting a new version on this website.  You should check this page occasionally to ensure you are happy with any changes.  


(8)	Third party websites

If the website contains links to other websites, I will not be held responsible for the privacy policies or practices of third party websites.

(09) 	Contact

If you have any questions about this privacy policy or my treatment of your personal information, please inform me right away by using the inquiry form in the contact page.

(13)	Data controller

The data controller responsible in respect of the information collected on this website is Juno Magno.  


              </textarea>
          </p>
        
          <h3 class="loud">Disclaimer</h3>
          <p align="justify">
              <textarea cols="100" rows="7" DISABLED>
              Obligatory Disclaimer

All works of fiction, including names, characters, places, and incidents are a product of the author’s imagination or are used fictitiously and are not to be construed as real Any resemblance to real persons living or dead, places, or events is purely coincidental unless permission was obtained from the original creator. Any and all copyright violations will be rigorously prosecuted to the fullest extent of the law.

              </textarea>
          </p>

           
        </div>
        
         <hr />
        
        <div class="span-24 small" align="center">
              <p><h4 class="quiet">Juno Magno © 2012</h4>
                
                <h4 class="mid">The JNoM Project, all work and characters contained therein, is the intellectual property of Juno Magno unless specified otherwise. All rights reserved. <BR>No portion of this online work may be published, transmitted, or distributed in any medium without the express written permission of the author.</h4></p>
                
              <p align="center">
                <%= link_to "Home", main_home_path %> | <%= link_to "About", main_about_path %> |
                <%= link_to "Portfolio", main_portfolio_path %> |  <%= link_to "Contact", main_contact_path %> |
                
                <%= link_to "FAQs", about_faqs_path %> |  <%= link_to "Legal Terms", about_legal_path %> </p>
          </div>

        
</body>
</html>

<!--<p>Find me in app/views/about/legal.html.erb</p>-->
